* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(moo.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: orange;
  font-size: 35px;
  font-family: serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: orange;
}
.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}
.srch {
  font-family: serif;
  width: 200px;
  height: 40px;
  background: transparent;
  border: 2px solid orange;
  margin-top: 13px;
  color: white;
  border-right: none;
  font-size: 13px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.btn {
  width: 100px;
  height: 40px;
  background: orange;
  border: 4px solid orange;
  margin-top: 13px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.btn:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}
.content {
  margin: auto;
  padding: 50px;
  width: 1000px;
  height: auto;
  color: white;
  position: relative;
}
.content h1 {
  color: white;
  font-family: serif;
  font-size: 30px;
}
.content span {
  color: orange;
  font-family: serif;
  font-size: 30px;
}
.content p {
  color: white;
  font-family: serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.content .cn {
  width: 100px;
  height: 30px;
  background: orange;
  border: none;
  font-size: 13px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4 ease;
}
.content .cn a {
  text-decoration: none;
  color: black;
  transition: 0.4s ease;
  font-weight: bold;
  font-family: serif;
  letter-spacing: 0.5px;
}
.cn:hover {
  background-color: white;
}
.form {
  width: 206px;
  height: 326px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
  position: absolute;
  top: 24px;
  left: 830px;
  border-radius: 10px;
  padding: 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.form a {
  font-weight: bold;
}
.form h2 {
  width: 190px;
  font-family: serif;
  text-align: center;
  color: orange;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}
.form input {
  width: 200px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid orange;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: serif;
}
.form input:focus {
  outline: none;
}
::placeholder {
  color: white;
  font-family: serif;
}
.btnn {
  width: 200px;
  height: 30px;
  background: orange;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.4s ease;
}
.btnn:hover {
  background: white;
  color: orange;
}
.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: serif;
  letter-spacing: 0.5px;
}
.form .link {
  font-family: serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a {
  text-decoration: none;
  color: orange;
  font-family: serif;
  letter-spacing: 0.5px;
}
.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
